<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>个人资料</title>

    <link href="/static/front/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/static/front/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="/static/front/css/personal.css" rel="stylesheet" type="text/css">
    <link href="/static/front/css/infstyle.css" rel="stylesheet" type="text/css">
    <script src="/static/front/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/front/AmazeUI-2.4.2/assets/js/amazeui.js" type="text/javascript"></script>

</head>

<body>
{include file="../application/user/view/public/header.html" /}


<div class="center">
    <div class="col-main">
        <div class="main-wrap">

            <div class="user-info">
                <!--标题 -->
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> /
                        <small>Personal&nbsp;information</small>
                    </div>
                </div>
                <hr/>
                <form class="am-form am-form-horizontal" id="profile-form" action="/user/personinfo/save"
                      method="post" enctype="multipart/form-data">
                    <!--头像 -->
                    <div class="user-infoPic">

                        <div class="filePic">
                            <input type="file" name="avatar" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp"
                                   accept="image/*">
                            <img class="am-circle am-img-thumbnail"
                                 src="/imgs/user/avatar/{$user->profile->avatar}" alt=""/>
                        </div>

                        <p class="am-form-help">头像</p>

                        <div class="info-m">
                            <div><b>用户名：<i>{$user->username}</i></b></div>
                            <div class="u-level">
									<span class="rank r2">
							             <s class="vip1"></s><a class="classes" href="#">铜牌会员</a>
						            </span>
                            </div>
                            <div class="u-safety">
                                <a href="safety.html">
                                    账户安全
                                    <span class="u-profile"><i class="bc_ee0000" style="width: 60px;"
                                                               width="0">60分</i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--个人信息 -->
                    <div class="info-main">


                        <div class="am-form-group">
                            <label for="user-name2" class="am-form-label">昵称</label>
                            <div class="am-form-content">
                                <input type="text" id="user-name2" name="nickname" value="{$user->profile->nickname}"
                                       placeholder="nickname">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-phone" class="am-form-label">电话</label>
                            <div class="am-form-content">
                                <input id="user-phone" name="phone" value="{$user->profile->phone}"
                                       placeholder="telephonenumber" type="tel">

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-email" class="am-form-label">电子邮件</label>
                            <div class="am-form-content">
                                <input id="user-email" name="email" value="{$user->profile->email}" placeholder="Email"
                                       type="email">

                            </div>
                        </div>
                        <div class="info-btn">
                            <button type="submit" class="am-btn am-btn-danger">保存修改</button>
                        </div>


                    </div>
                </form>
            </div>

        </div>
        <!--底部-->
        <div class="footer">
        </div>
    </div>

    {include file="../application/user/view/public/sidenav.html" /}
</div>

</body>

</html>