<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/echarts.min.js"></script>
</head>

<body data-type="index">
<!--顶部导航-->
{include file="../application/admin/view/common/header.html" /}
<!--顶部导航-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--侧边导航-->
    {include file="../application/admin/view/common/sidebar.html" /}
    <!--侧边导航-->
    <!--内容区-->
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            {$title}
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">分类</a></li>
            <li class="am-active">内容</li>
        </ol>

        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">{present name="topSellToday"}
                            {$topSellToday->sellCount}
                            {else/}
                                0
                            {/present}
                        </div>
                        <div class="desc"> 今日销售</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="font-size: 20px">
                            {present name="topSellToday"}
                                {$topSellToday->game->name}
                            {else/}
                                暂无
                            {/present}
                        </div>
                        <div class="desc"> 销售最多</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="am-icon-apple"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {$newUserToday}</div>
                        <div class="desc"> 新增用户</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="am-icon-android"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {$incomeToday}元</div>
                        <div class="desc"> 今日收入</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="am-u-md-6 am-u-sm-12 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <i class="am-icon-cloud-download"></i>
                            <span> 今日销售榜</span>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="red-on">昨天</li>
                                <li class="green">前天</li>
                                <li class="blue">本周</li>
                            </ul>
                        </div>
                    </div>

                    <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                    <div class="tpl-echarts" id="tpl-echarts-A">
                        <table class="am-table tpl-table">
                            <thead>
                            <tr class="tpl-table-uppercase">
                                <th>游戏</th>
                                <th>销售数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="todaySell" id="order"}
                            <tr>
                                <td>
                                    <img src="/static/img/user01.png" alt="" class="user-pic">
                                    <a class="user-name" href="#">{$order->game->name}</a>
                                </td>
                                <td>{$order->sellCount}</td>

                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6 am-u-sm-12 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-red ">
                            <i class="am-icon-bar-chart"></i>
                            <span> 新游戏</span>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="purple-on">昨天</li>
                                <li class="green">前天</li>
                                <li class="dark">本周</li>
                            </ul>
                        </div>

                    </div>
                    <div class="tpl-scrollable">
                        <table class="am-table tpl-table">
                            <thead>
                            <tr class="tpl-table-uppercase">
                                <th>游戏名</th>
                                <th>发行商</th>
                                <th>价格</th>
                                <th>创建日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="newGames" id="game"}
                            <tr>
                                <td>
                                    <a class="user-name" href="#">{$game->name}</a>
                                </td>
                                <td>{$game->publisher}</td>
                                <td>{$game->price}</td>
                                <td class="">{$game->createAt}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--内容区-->
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/iscroll.js"></script>
<script src="/static/js/app.js"></script>
</body>

</html>
