<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>商品页面</title>

    <link href="/static/front/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/static/front/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/front/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="/static/front/css/optstyle.css" rel="stylesheet"/>
    <link type="text/css" href="/static/front/css/style.css" rel="stylesheet"/>

    <script type="text/javascript" src="/static/front/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/static/front/basic/js/quick_links.js"></script>

    <script type="text/javascript" src="/static/front/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <script type="text/javascript" src="/static/front/js/jquery.imagezoom.min.js"></script>
    <script type="text/javascript" src="/static/front/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/static/front/js/list.js"></script>

</head>

<body>


{include file="../application/user/view/public/header.html" /}

<div class="clear"></div>
<b class="line"></b>
<div class="listMain">

    <!--分类-->

    <ol class="am-breadcrumb am-breadcrumb-slash">
        <li><a href="#">首页</a></li>
        <li><a href="#">分类</a></li>
        <li class="am-active">内容</li>
    </ol>
    <script type="text/javascript">
        $(function () {
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <div class="scoll">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    {volist name="game:pics" id="pic"}
                    <li>
                        <img src="{$pic->url}" title="pic"/>
                    </li>
                    {/volist}
                </ul>
            </div>
        </section>
    </div>

    <!--放大镜-->

    <div class="item-inform">
        <div class="clearfixLeft" id="clearcontent">

            <div class="box">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $(".jqzoom").imagezoom();
                        $("#thumblist li a").click(function () {
                            $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                            $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                            $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                        });
                    });
                </script>

                <div class="tb-booth tb-pic tb-s310">
                    <a><img src="{$game->icon}" alt="细节展示放大镜特效"
                            rel="{$game->icon}" class="jqzoom"/></a>
                </div>
                <ul class="tb-thumb" id="thumblist">
                    <li class="tb-selected">
                        <div class="tb-pic tb-s40">
                            <a><img src="{$game->icon}"
                                    mid="{$game->icon}"
                                    big="{$game->icon}">
                            </a>
                        </div>
                    </li>
                    {volist name="game:pics" id="pic"}
                    <li class="tb-selected">
                        <div class="tb-pic tb-s40">
                            <a><img src="{$pic->url}"
                                    mid="{$pic->url}"
                                    big="{$pic->url}">
                            </a>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>

            <div class="clear"></div>
        </div>

        <div class="clearfixRight">

            <!--规格属性-->
            <!--名称-->
            <div class="tb-detail-hd">
                <h1>
                    {$game->name}
                </h1>
            </div>
            <div class="tb-detail-list">
                <!--价格-->
                <div class="tb-detail-price">
                    <li class="price iteminfo_price">
                        <dt>促销价</dt>
                        <dd><em>¥</em><b class="sys_item_price">56.90</b></dd>
                    </li>
                    <div class="clear"></div>
                </div>

                <!--地址-->
                <dl class="iteminfo_parameter freight">
                    <dt>发行商</dt>
                    <div class="iteminfo_freprice">
                        <div class="am-form-content address">
                            {$game->publisher}
                        </div>
                    </div>
                    <dt>发行日期</dt>
                    <div class="iteminfo_freprice">
                        <div class="am-form-content address">
                            {$game->relese_time}
                        </div>
                    </div>
                </dl>
                <div class="clear"></div>

                <!--销量-->
                <ul class="tm-ind-panel">
                    <li class="tm-ind-item tm-ind-sellCount canClick">
                        <div class="tm-indcon"><span class="tm-label">月销量</span><span class="tm-count">1015</span></div>
                    </li>
                    <li class="tm-ind-item tm-ind-sumCount canClick">
                        <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count">6015</span>
                        </div>
                    </li>
                    <li class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
                        <div class="tm-indcon"><span class="tm-label">累计评价</span><span class="tm-count">640</span></div>
                    </li>
                </ul>
                <div class="clear"></div>

                <!--各种规格-->
                <dl class="iteminfo_parameter sys_item_specpara">
                    <dt class="theme-login">
                        <div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div>
                    </dt>
                    <dd>
                        <!--操作页面-->

                        <div class="theme-popover-mask"></div>

                        <div class="theme-popover">
                            <div class="theme-span"></div>
                            <div class="theme-poptit">
                                <a href="javascript:;" title="关闭" class="close">×</a>
                            </div>
                            <div class="theme-popbod dform">
                                <form class="theme-signin" name="loginform" action="" method="post">

                                    <div class="theme-signin-left">

                                    </div>
                                    <div class="theme-signin-right">

                                    </div>

                                </form>
                            </div>
                        </div>

                    </dd>
                </dl>
                <div class="clear"></div>
                <!--活动	-->
                <div class="shopPromotion gold">

                </div>
            </div>

            <div class="pay">
                <div class="pay-opt">
                    <a href="home.html"><span class="am-icon-home am-icon-fw">首页</span></a>
                    <a><span class="am-icon-heart am-icon-fw">收藏</span></a>

                </div>
                <li>
                    <div class="clearfix tb-btn tb-btn-buy theme-login">
                        <a id="LikBuy" title="点此按钮到下一步确认购买信息" href="/game/{$game->id}/buy">立即购买</a>
                    </div>
                </li>
                <li>
                    <div class="clearfix tb-btn tb-btn-basket theme-login">
                        <a id="LikBasket" title="加入购物车" href="#"><i></i>加入购物车</a>
                    </div>
                </li>
            </div>

        </div>

        <div class="clear"></div>

    </div>

    <!--优惠套装-->
    <div class="match">

    </div>
    <div class="clear"></div>


    <!-- introduce-->

    <div class="introduce">
        <div class="browse">
            <div class="mc">
                ...
            </div>
        </div>
        <div class="introduceMain">
            <div class="am-tabs" data-am-tabs>
                <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active">
                        <a href="#">

                            <span class="index-needs-dt-txt">宝贝详情</span></a>

                    </li>

                    <li>
                        <a href="#">

                            <span class="index-needs-dt-txt">全部评价</span></a>

                    </li>

                    <li>
                        <a href="#">

                            <span class="index-needs-dt-txt">猜你喜欢</span></a>
                    </li>
                </ul>

                <div class="am-tabs-bd">

                    <div class="am-tab-panel am-fade am-in am-active">
                        <div class="J_Brand">

                            <div class="attr-list-hd tm-clear">
                                <h4>产品参数：</h4></div>
                            <div class="clear"></div>
                            <ul id="J_AttrUL">
                                <li title="">游戏名称:{$game->name}</li>
                                <li title="">发行商:{$game->publisher}</li>
                                <li title="">发行时间:{$game->relese_time}</li>
                            </ul>
                            <div class="clear"></div>
                        </div>

                        <div class="details">
                            <div class="attr-list-hd after-market-hd">
                                <h4>商品细节</h4>
                            </div>
                            <div class="twlistNews">
                               {$game->detail}
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>

                    <div class="am-tab-panel am-fade">

                        <div class="actor-new">
                            <div class="rate">
                                <strong>100<span>%</span></strong><br> <span>好评度</span>
                            </div>
                            <dl>
                                <dt></dt>
                                <dd class="p-bfc">

                                </dd>
                            </dl>
                        </div>
                        <div class="clear"></div>
                        <div class="tb-r-filter-bar">
                            <ul class=" tb-taglist am-avg-sm-4">
                                <li class="tb-taglist-li tb-taglist-li-current">
                                    <div class="comment-info">
                                        <span>全部评价</span>
                                        <span class="tb-tbcr-num">(32)</span>
                                    </div>
                                </li>

                                <li class="tb-taglist-li tb-taglist-li-1">
                                    <div class="comment-info">
                                        <span>好评</span>
                                        <span class="tb-tbcr-num">(32)</span>
                                    </div>
                                </li>

                                <li class="tb-taglist-li tb-taglist-li-0">
                                    <div class="comment-info">
                                        <span>中评</span>
                                        <span class="tb-tbcr-num">(32)</span>
                                    </div>
                                </li>

                                <li class="tb-taglist-li tb-taglist-li--1">
                                    <div class="comment-info">
                                        <span>差评</span>
                                        <span class="tb-tbcr-num">(32)</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>

                        <ul class="am-comments-list am-comments-list-flip">
                            {volist name="game:comments" id="comment"}
                            <li class="am-comment">
                                <!-- 评论容器 -->
                                <a href="">
                                    <img class="am-comment-avatar" src="/imgs/user/avatar/{$comment->user->profile->avatar}"/>
                                    <!-- 评论者头像 -->
                                </a>

                                <div class="am-comment-main">
                                    <!-- 评论内容容器 -->
                                    <header class="am-comment-hd">
                                        <!--<h3 class="am-comment-title">评论标题</h3>-->
                                        <div class="am-comment-meta">
                                            <!-- 评论元数据 -->
                                            <a href="#link-to-user" class="am-comment-author">{$comment->user->profile->nickname}</a>
                                            <!-- 评论者 -->
                                            评论于
                                            <time datetime="">{$comment->createAt}</time>
                                        </div>
                                    </header>

                                    <div class="am-comment-bd">
                                        <div class="tb-rev-item " data-id="255776406962">
                                            <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                {$comment->content}
                                            </div>
                                            <div class="tb-r-act-bar">

                                            </div>
                                        </div>

                                    </div>
                                    <!-- 评论内容 -->
                                </div>
                            </li>
                            {/volist}
                        </ul>

                        <div class="clear"></div>

                        <!--分页 -->
                        <ul class="am-pagination am-pagination-right">
                            <li class="am-disabled"><a href="#">&laquo;</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                        <div class="clear"></div>

                        <div class="tb-reviewsft">
                            <div class="tb-rate-alert type-attention">购买前请查看该商品的 <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。
                            </div>
                        </div>

                    </div>

                    <div class="am-tab-panel am-fade">
                        <div class="like">
                            <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="i-pic limit">
                                        <img src="/static/front/images/imgsearch1.jpg"/>
                                        <p>【良品铺子_开口松子】零食坚果特产炒货
                                            <span>东北红松子奶油味</span></p>
                                        <p class="price fl">
                                            <b>¥</b>
                                            <strong>298.00</strong>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>

                        <!--分页 -->
                        <ul class="am-pagination am-pagination-right">
                            <li class="am-disabled"><a href="#">&laquo;</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                        <div class="clear"></div>

                    </div>

                </div>

            </div>

            <div class="clear"></div>

            <div class="footer">
                <div class="footer-hd">
                    <p>
                        <a href="#">恒望科技</a>
                        <b>|</b>
                        <a href="#">商城首页</a>
                        <b>|</b>
                        <a href="#">支付宝</a>
                        <b>|</b>
                        <a href="#">物流</a>
                    </p>
                </div>
                <div class="footer-bd">
                    <p>
                        <a href="#">关于恒望</a>
                        <a href="#">合作伙伴</a>
                        <a href="#">联系我们</a>
                        <a href="#">网站地图</a>
                        <em>© 2015-2025 Hengwang.com 版权所有</em>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--菜单 -->


</body>

</html>