<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>购物车页面</title>

    <link href="/static/front/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/front/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="/static/front/css/cartstyle.css" rel="stylesheet" type="text/css"/>
    <link href="/static/front/css/optstyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/static/front/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script type="text/javascript" src="/static/js/shoppingcart.js"></script>


</head>

<body>

<!--顶部导航条 -->
<div>
    {include file="../application/user/view/public/header.html" /}
</div>
<!--购物车 -->
<div class="concent">
    <div id="cartTable">
        <div class="cart-table-th">
            <div class="wp">
                <div class="th th-chk">
                    <div id="J_SelectAll1" class="select-all J_SelectAll">

                    </div>
                </div>
                <div class="th th-item">
                    <div class="td-inner">商品信息</div>
                </div>
                <div class="th th-price">
                    <div class="td-inner">单价</div>
                </div>

                <div class="th th-sum">
                    <div class="td-inner">金额</div>
                </div>
                <div class="th th-op">
                    <div class="td-inner">操作</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <tr class="item-list">
            <div class="bundle  bundle-last ">
                <div class="bundle-hd">
                    <div class="bd-promos">
                        <div class="bd-has-promo"><span class="bd-has-promo-content"></span>&nbsp;&nbsp;</div>
                        <span class="list-change theme-login">编辑</span>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="bundle-main">
                    <div id="test">

                    </div>
                    {volist name="cartItems" id="item"}
                    <ul class="item-content clearfix" cartItem price="{$item->game->price}">
                        <li class="td td-chk">
                            <div class="cart-checkbox">
                                <input class="check" id="J_CheckBox_170037950254" name="cartItemCheckBox"
                                       value="170037950254"
                                       type="checkbox"
                                       onchange="onSelectChange({$item->id},{$item->game->price})">
                                <label for="J_CheckBox_170037950254"></label>
                            </div>
                        </li>
                        <li class="td td-item">
                            <div class="item-pic">
                                <a href="#" target="_blank" data-title="游戏名" class="J_MakePoint"
                                   data-point="tbcart.8.12">
                                    <img src="{$item->game->icon}" class="itempic J_ItemImg" style="width: 150px"></a>
                            </div>
                            <div class="item-info">
                                <div class="item-basic-info">
                                    <a href="#" target="_blank" title="游戏名" class="item-title J_MakePoint"
                                       data-point="tbcart.8.11">{$item->game->name}</a>
                                </div>
                            </div>
                        </li>
                        <li class="td td-info">
                            <div class="item-props item-props-can">

                            </div>
                        </li>
                        <li class="td td-price">
                            <div class="item-price price-promo-promo">
                                <div class="price-content">
                                    <div class="price-line">
                                        <em class="J_Price price-now" tabindex="0">{$item->game->price}</em>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="td td-sum">
                            <div class="td-inner">
                                <em tabindex="0" class="J_ItemSum number">{$item->game->price}</em>
                            </div>
                        </li>
                        <li class="td td-op">
                            <div class="td-inner">
                                <a href="/shoppingcart/index/delete?id={$item->id}" data-point-url="#" class="delete">
                                    删除</a>
                            </div>
                        </li>
                    </ul>
                    {/volist}
                </div>
            </div>
        </tr>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <div class="float-bar-wrapper">
        <div id="J_SelectAll2" class="select-all J_SelectAll">

        </div>
        <div class="operations">

        </div>
        <div class="float-bar-right">
            <div class="amount-sum">
                <span class="txt">已选商品</span>
                <em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
                <div class="arrow-box">
                    <span class="selected-items-arrow"></span>
                    <span class="arrow"></span>
                </div>
            </div>
            <div class="price-sum">
                <span class="txt">合计:</span>
                <strong class="price">¥<em id="total">0.00</em></strong>
            </div>
            <form action="shoppingcart/buy" method="post" id="settlementForm">
                <input type="hidden" id="payGoods" name="goods">
            </form>
            <div class="btn-area">
                <a id="J_Go" class="submit-btn submit-btn-disabled" onclick="onSubmitHandle()">
                    <span>结&nbsp;算</span></a>
            </div>
        </div>

    </div>

    <div class="footer">

    </div>

</div>

<!--操作页面-->

<!--引导 -->
<div class="navCir">
    <li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
    <li class="active"><a href="index.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a href="/static/front/person/index.html"><i class="am-icon-user"></i>我的</a></li>
</div>
<script>
    const itemMap = new Map();

    const onSelectChange = (id, price) => {

        if (itemMap.has(id)) {
            itemMap.delete(id)
        } else {
            itemMap.set(id, price);
        }
        refreshTotalMoney();
    };
    const refreshTotalMoney = () => {
        let total = 0;
        for (let price of itemMap.values()) {
            total += price;
        }
        $("#total").text(total);
        $("#J_SelectedItemsCount").text(itemMap.size)
    };
    const onSubmitHandle = () => {
        let games = [];
        for (let gameId of itemMap.keys()) {
            games.push(gameId)
        }
        $('#payGoods').attr("value", JSON.stringify(games));
        $("#settlementForm").submit()
    }

</script>
</body>

</html>