<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body data-type="index">
<!--顶部导航-->
{include file="../application/admin/view/common/header.html" /}
<!--顶部导航-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--侧边导航-->
    {include file="../application/admin/view/common/sidebar.html" /}
    <!--侧边导航-->

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            {$title}
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">系统</a></li>
            <li class="#">用户组</li>
            <li class="am-active">编辑</li>
        </ol>
        <div class="row">
            <div class="am-u-md-12 am-u-sm-24 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <i class="am-icon-cloud-download"></i>
                            <span> 权限</span>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="green-on" onclick="showAddPermissionDialog()">添加</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <table class="am-table am-table-striped am-table-bordered am-table-compact"
                               id="permission-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>权限名称</th>
                                <th>Action</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="$group:permissions" id="permission"}
                            <tr class="odd gradeX">
                                <td>{$permission->id}</td>
                                <td>{$permission->name}</td>
                                <td class="center">{$permission->action}</td>
                                <td><a class="am-btn am-btn-danger"
                                       href="/admin/group/deletepermission?gid={$group->id}&pid={$permission->id}">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="am-u-md-12 am-u-sm-24 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <i class="am-icon-cloud-download"></i>
                            <span> 用户</span>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="green-on" onclick="showAddUserDialog()">添加</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <table class="am-table am-table-striped am-table-bordered am-table-compact" id="user-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="$group->users" id="user"}
                            <tr class="odd gradeX">
                                <td>{$user->id}</td>
                                <td>{$user->username}</td>
                                <td><a class="am-btn am-btn-danger"
                                       href="/admin/group/deleteuser?gid={$group->id}&uid={$user->id}">删除</a></td>

                            </tr>
                            {/volist}
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="add-permission-dialog">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">YouGame</div>
        <div class="am-modal-bd">
            <form action="/admin/group/addpermission" id="add-permission-form" method="post">
                <select data-am-selected name="pid">
                    {volist name="permissionList" id="permission"}
                    <option value="{$permission->id}">{$permission->name}</option>
                    {/volist}
                    <input value="{$group->id}" name="gid" type="hidden">
                </select>
            </form>

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-prompt" tabindex="-1" id="add-user-dialog">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">YouGame</div>
        <div class="am-modal-bd">
            <form action="/admin/group/adduser" id="add-user-form" method="post">
                <select data-am-selected name="uid">
                    {volist name="userList" id="user"}
                    <option value="{$user->id}">{$user->username}</option>
                    {/volist}
                    <input value="{$group->id}" name="gid" type="hidden">
                </select>
            </form>

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/iscroll.js"></script>
<script src="/static/js/datatable/amazeui.datatables.js"></script>
<script src="/static/js/app.js"></script>
<script>
    $('#permission-table').DataTable({
        "paging": true,
        "iDisplayLength": 3,
        "bPaginate": true, //翻页功能
        "bLengthChange": true, //改变每页显示数据数量
        "bFilter": true, //过滤功能
        "bSort": true, //排序功能
        "bInfo": true,//页脚信息
        "bAutoWidth": true,
        "lengthMenu": [[3, 4, 5, -1], [3, 4, 5, "All"]]
    });
    $('#user-table').DataTable({
        "paging": true,
        "iDisplayLength": 3,
        "bPaginate": true, //翻页功能
        "bLengthChange": true, //改变每页显示数据数量
        "bFilter": true, //过滤功能
        "bSort": true, //排序功能
        "bInfo": true,//页脚信息
        "bAutoWidth": true,
        "lengthMenu": [[3, 4, 5, -1], [3, 4, 5, "All"]]
    });
    const showAddPermissionDialog = () => {
        $('#add-permission-dialog').modal({
            relatedTarget: this,
            onConfirm: function (e) {
                $("#add-permission-form").submit()
            },
            onCancel: function (e) {
            }
        });
    }

    const showAddUserDialog = () => {
        $('#add-user-dialog').modal({
            relatedTarget: this,
            onConfirm: function (e) {
                $("#add-user-form").submit()
            },
            onCancel: function (e) {
            }
        });
    }


</script>
</body>

</html>
