<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/timepick/amazeui.datetimepicker.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body data-type="index">
<!--顶部导航-->
{include file="../application/admin/view/common/header.html" /}
<!--顶部导航-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--侧边导航-->
    {include file="../application/admin/view/common/sidebar.html" /}
    <!--侧边导航-->

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            {$title}
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">系统</a></li>
            <li class="am-active">用户组</li>
        </ol>

        <div class="row">
            <div class="am-u-md-12 am-u-sm-24 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <i class="am-icon-cloud-download"></i>
                            <span> 用户组</span>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="red-on">昨天</li>
                                <li class="green">前天</li>
                                <li class="blue">本周</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <form class="am-form am-form-horizontal" action="/admin/goods/save" method="post" enctype="multipart/form-data">
                            <div class="am-form-group">
                                <label for="game-name" class="am-u-sm-3 am-form-label">游戏名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="game-name" placeholder="游戏名" name="name">
                                    <small>输入游戏名称</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="relese-time" class="am-u-sm-3 am-form-label">游戏发行时间</label>
                                <div class="am-u-sm-9">
                                    <input type="text" value="2017-12-13" id="relese-time" name="relese_time"
                                           class="am-form-field">
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="publisher" class="am-u-sm-3 am-form-label">发行商</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="publisher" name="publisher" placeholder="">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="price" class="am-u-sm-3 am-form-label">价格</label>
                                <div class="am-u-sm-9">
                                    <input type="number" id="price" name="price">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="price" class="am-u-sm-3 am-form-label">分类</label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected name="category">
                                        {volist name="category" id="item"}
                                        <option value="{$item->id}">{$item->name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="detail" class="am-u-sm-3 am-form-label">游戏图标</label>
                                <div class="am-u-sm-9">
                                    <div class="am-form-group am-form-file">
                                        <button type="button" class="am-btn am-btn-default am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                        </button>
                                        <input type="file" name="icon" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="detail" class="am-u-sm-3 am-form-label">简介</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" rows="5" id="detail" name="detail"
                                              placeholder="输入个人简介"></textarea>
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/iscroll.js"></script>
<script src="/static/js/datatable/amazeui.datatables.js"></script>
<script src="/static/js/timepick/amazeui.datetimepicker.min.js"></script>
<script src="/static/js/app.js"></script>
<script>
    $('#example').DataTable({
        "paging": true,
        "iDisplayLength": 3,
        "bPaginate": true, //翻页功能
        "bLengthChange": true, //改变每页显示数据数量
        "bFilter": true, //过滤功能
        "bSort": true, //排序功能
        "bInfo": true,//页脚信息
        "bAutoWidth": true,
        "lengthMenu": [[3, 4, 5, -1], [3, 4, 5, "All"]]
    });
    $('#relese-time').datetimepicker({
        format: 'yyyy-mm-dd'
    });
</script>
</body>

</html>
