<div class="daohang">
    <ul>
        <li>
            <button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页
        </li>
        <li>
            <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a
                    href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
            </button>
        </li>
        <li>
            <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">奖金管理<a
                    href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
            </button>
        </li>
        <li>
            <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">产品管理<a
                    href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
            </button>
        </li>


    </ul>


</div>