<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header">
        <ul class="message-l">
            <div class="topMessage">
                <div class="menu-hd">
                    {eq name="isLogin" value="0"}
                    <a href="/login" target="_top" class="h">登录账户</a>
                    <a href="/register" target="_top">注册账户</a>
                    {else/}
                    <a href="/user/personinfo" target="_top">欢迎您：{$user->username}</a>
                    {/eq}
                </div>
            </div>
        </ul>
        <ul class="message-r">
            <div class="topMessage home">
                <div class="menu-hd"><a href="/" target="_top" class="h">商城首页</a></div>
            </div>
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="/user/personinfo" target="_top"><i
                        class="am-icon-user am-icon-fw"></i>个人中心</a></div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="/shoppingcart" target="_top"><i
                        class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum"
                                                                                              class="h"></strong></a>
                </div>
            </div>
        </ul>
    </div>
</div>